asgiref==3.12.1
brotli==1.2.0
cffi==2.1.1
charset-normalizer==3.5.1
cssselect2==0.10.1
Django==6.1.1
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
fonttools==4.66.0
pillow==12.3.0
psycopg2-binary==2.9.13
pycparser==3.0
pydyf==0.12.1
PyJWT==2.15.0
pyphen==0.18.1
python-decouple==3.8
reportlab==5.0.1
sqlparse==0.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.4
weasyprint==70.0
webencodings==0.6.1
zopfli==0.4.3
